body {
  font-family: 'Mona Sans', sans-serif;
  background: rgb(8, 0, 63);
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
}

.header-row {
  display: flex;
  align-items: center;
  width: 75%;
  height: 40px;
  float: right;
}

#logoImage {
  height: 40px;
  position: relative;
  right: -10px;
}

#model_name {
  box-sizing: border-box;
  padding: 8px;
  position: right;
  font-size: min(24px, 2.8vw);
  border-radius: 5px;
  border: none;
  float: right;
  font-family: 'Mona Sans', sans-serif;
  font-weight:lighter;
  width: 25%;
  height: 40px;
  right: 25px;
  top: 5px;
  margin-right: 5px;
  color: white;
  background-color: rgb(104, 84, 220);
}

#saveStatus {
  margin-right: 10px;
  position: relative;
  font-weight: bold;
  font-size: 13px;
  color: #a996ff;
  text-align: right;
  float: right;
  width: 250px;
}

.action {
  display: inline-block;
  margin-right: 0;
  position: static;
  top: unset;
  left: unset;
}

.action button {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Mona Sans', sans-serif;
  font-size: 11px;
  background-color: white;
  border: none;
  height: 45px;
  border-radius: 5px;
  font-size: min(16px, 2.2vw);
  transition: background-color 0.6s;
}

.action img {
  position: relative;
  float: left;
  width: 16px;
  height: 16px;
}

.action label {
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: min(16px, 2.2vw);
  transition: background-color 0.6s;
}

.action label:hover {
  background-color: #ddd;
}

.action button:hover {
  background-color: #ddd;
}

#runButton {
  background-color: #009933;
  color: rgb(255, 255, 255);
  width: 100px;
}

#runButton img {
  left: 15px;
  top: 3px;
}

#runButton:hover {
  background-color: #0e8a0e;
  transition: 0.2s;
}

#loadButton {
  background-color: #3392b5;
  color: rgb(255, 255, 255);
  width: 100px;
}

#loadButton img{
  left: 10px;
  top: 3px;
  height: 18px;
  width: 18px;
  filter: invert(1);
}

#loadButton:hover {
  background-color: #157091;
  transition: 0.2s;
}

#exportButton {
  background-color: #3392b5;
  color: rgb(255, 255, 255);
  width: 100px;
}

#exportButton img{
  left: 6px;
  top: 3px;
  height: 18px;
  width: 18px;
  filter:invert(1);
} 

#exportButton:hover {
  background-color: #157091;
  transition: 0.2s;
}

#switchThemeButton {
  background-color: #414141;
  color: #aaaaaa;
  font-weight: bold;
  width: 150px;
}

#switchThemeButton img {
  top:3px;
  left: 4px;
  opacity: 70%;
}

#switchThemeButton:hover {
  background-color: #1e1e1e;
  transition: 0.2s;
}

#docsButton {
  background-color: #9933ff;
  color: rgb(233, 209, 255);
  font-weight: bold;
  width: 75px;
  transition: 0.3s;
}
#docsButton img {
  top: 3px;
  left: 4px;
  filter: sepia(1) saturate(5) hue-rotate(185deg) brightness(1);
}
#docsButton:hover{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.3s;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #a77aff;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover #docsButton{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#clearButton {
  background-color: #ff5050;
  color: rgb(255, 225, 225);
  font-weight: bold;
  width: 90px;
}

#clearButton img{
  top: 3px;
  left: 4px;
  filter: sepia(1) saturate(5) hue-rotate(200deg) brightness(1);
}

#clearButton:hover {
  background-color: #b52626;
  transition: 0.2s;
}







#nav {
  width: calc(100% - 50px);
  height: 15px;
  padding-left: 0px;
  padding-right: 0pxx;
  padding-top: 0px;
  transform: translateY(0px);
  display: flex;
}


.webTabs {
  display: inline-block;
  border: none;
  height: 50px;
  overflow: hidden;
  position: absolute;
  padding-left: 1px; /* Added */
  z-index: 20;        /* Added: higher than #myDiagram's z-index */
  transform: translateY(-40px);  /* Optional: ensures tab buttons have a solid background */
}

.webTabs button {
  background: rgb(164, 149, 249); /* fallback for inactive */
  height: 100%;
  border: none;
  padding: 5px 12px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  font-size: min(20px, 2.8vw);
  font-size: 18px;
  margin: 0px;
  font-family: 'Mona Sans', sans-serif;
  transition: 0.3s;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom: none;
  /* Only round the first and last button for a pill effect */
}

.webTabs button:hover {
  background: rgb(105, 84, 221);
  color: white;
  transition: background 0.25s, color 0.25s;
  border-bottom: none;
}

.tabContent {
  background: linear-gradient(rgb(105, 84, 221), rgb(19, 0, 97) );
  position: relative;
  width: calc(100%);
  height: 92vh;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-right: 0;
  overflow: hidden;
  z-index: 10;
  display: flex;
  transform: translateY(-7px);
}

.webTabs button.active {
  transform: translateY(0.5px);
  background: rgb(105, 84, 221);
  color: #ffffff;
  z-index: 100;
  margin-left: 0px;
  font-size: 20px;
  transition: 0.3s;
  border-bottom: none;
}




#myDiagram {
  width: calc(53% - 150px);
  height: calc(100% - 30px);
  border: 1px solid black;
  background-color: white;
  left: 95px;
  position: absolute;
  top: 15px;
  border-radius: 15px;
  outline: none !important; /* Prevents focus highlighting */
  -webkit-tap-highlight-color: transparent; /* Prevents tap highlight on mobile */
  user-select: none; /* Prevents text selection */
}

canvas {
  cursor: crosshair;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  user-select: none;
  touch-action: none;
  width: 598px;
  height: 498px;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

#tabManager {
  border: 1px solid black;
  background-color: white;
  width: min(140px, 10%);
  height: 95.8%;
  position: relative;
  left: 20px;
  top: 15px;
  padding: 5px;
  margin-right: 5px;
  z-index: 3;
  overflow: scroll;
  overflow-x: hidden;
}

#addTab {
  width:100%;
  height: 10%;
  border: none;
  background-color: inherit;
  border-radius: 5px;
  position: sticky;
}

#addTabButton {
  font-size: 6vw; color: limegreen;
}

#tabsList {
  height: 90%;
  width: 100%;
  padding-top: 15px;
  border: none;
  background-color: inherit;
}

#display {
  width: 85%;
  height: 94.5%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
}

#popForm {
  border: 1px solid black;
  position: fixed;
  width: 70%;
  height: 80%;
  top: 10%;
  left: 15%;
  z-index: 1003;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
  display: none;
}

#tabConfig {
  padding: 0 5vw;
  font-size: max(24px, 2vw);
}

#submitModel {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  background-color: #33cc33;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  border: none;
}

#submitModel:hover {
  background-color: #009933;
  transition: background-color 0.3s;
}

#submitModel:active {
  background-color: #008822;
  transition: background-color 0.3s;
}


#closeNewTabPopup {
  width: 50px;
  height: 50px;
  color: white;
  font-size: 30px;
  background-color: #ff0000;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

#closeNewTabPopup:hover {
  background-color: #dd0000;
  transition: background-color 0.3s;
}

#closeNewTabPopup:active {
  background-color: #bb0000;
  transition: background-color 0.3s;
}


#datatable {
  height: 100% - 2px;
  width: 100%;
}










#eqEditorTitle {
  margin-top: 10px;
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 0px;
  margin-left: 15px;
  font-weight: lighter;
}


#eqEditor {
  background-color: rgb(37, 0, 173);
  width: calc(50% - 30px);
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: min(16px, 1.8vw);
  border-radius: 10px;
  height: calc(100% - 30px);
}

#eqTableDiv {
  position: relative;
  background-color: rgb(169, 155, 246);
  border: 1px solid black;
  margin: 15px;
  width: calc(100% - 30px);
  height: calc(99% - 60px);
  overflow-x: hidden;
  top: -6px;
  border-radius: 10px;
}


#nnUniHeader {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

#nnUniTooltip {
  visibility: hidden;
  width: 200px;
  background-color: #bbbbbb;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: -5px;
  right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
#nnUniHeader:hover #nnUniTooltip {
  visibility: visible;
}

.eqTableInputBox {
  box-sizing: border-box;
  padding-left: 8px;
  font-size: 18px;
  height:40px;
  font-family: 'Mona Sans', sans-serif;
  font-weight: 200;
  color: #2f2f2f;
  border-radius: 10px;

  background-color: #ffffff;
}

.eqStockBox .eqTableInputBox {
  border: 2px solid maroon;
}

.eqFlowBox .eqTableInputBox {
  border: 2px solid rgb(50, 50, 255);
}

.eqVariableBox .eqTableInputBox {
  border: 2px solid rgb(0, 134, 0);
}


#simParamsTitle {
  position: relative;
  color: #ffffff;
  font-size: 25px;
  margin-left: 20px;
  top: 10px;
}


#simParams {
  background-color: #35829fff;
  width: calc(65%);
  height: 220px;
  position: relative;
  left: 25px;
  top: 45px;
  font-size: min(18px, 2.8vw);
  border-radius: 10px;
  margin-bottom: 20px;
}

.simParamCol {
  width: 25%;
  color: white;
  font-size: min(20px, 2.8vw);
}

.simParamsInput {
  box-sizing: border-box;
  padding-left: 8px;
  font-size: 18px;
  width:80%;
  height:40px;
  border: 3px solid black;
}

.simParamsInputError {
  border: 3px solid red;
}

.simParamsInputWarning {
  border: 3px solid goldenrod;
}

#simParamsTable {
  position: relative;
  font-size: min(18px, 2.8vw);
  margin-left: 30px;
  width: 95%;
}

#simParamHighStepCountDesc {
  color: yellow;
}

#simErrorPopup {
  position: fixed;
  width: 40%;
  height: 60%;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 2000;

  display: none;
}

#simErrorPopupTitle {
  color: red;
  font-size: 30px;
  padding-left: 20px;
}

#simErrorPopupDesc {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#simErrorPopupDismiss {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  width: 100%-40px;
  height: 50px;
  background-color: #aa0000;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 15px;
  transition: 0.2s;
}

#simErrorPopupDismiss:hover {
  background-color: #dd0000;
  transition: 0.2s;
}












.tools {
  border-radius: 15px;
  background: rgb(37, 0, 173);
  width: 75px;
  height: calc(100% - 30px);
  position: absolute;
  left: 10px;
  top: 15px;
  border: none;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.tools button {
  height: 60px;
  width: 60px;
  margin: 7.5px;
  overflow-wrap: anywhere;
  overflow-y: hidden;
  font-size: min(16px, 1.8vw);
  font-family: 'Mona Sans', sans-serif;
  white-space: nowrap;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  padding-top: 5.5px;
}

#pointer_button img{
  height: 30px;
  width: 30x;
}

#stock_button img{
  height: 33px;
  width: 33px;
  filter: invert(1);
}

#cloud_button img{
  height: 32px;
  width: 32px;
  filter: invert(1);
}

#variable_button img{
  height: 26px;
  width: 26vpx;
  filter: invert(1);
}

#flow_button img{
  height: 36px;
  width: 36px;
  filter: invert(1);
}


button{
  overflow: hidden;
}

.tools button:hover {
  background-color: #4319ff;
  transition: 0.3s;
}

.tools button.active {
  background-color: #4319ff;
  transition: 0.3s;
}


a:link { text-decoration: none;  color: black;}

a:visited { text-decoration: none;  color: black;}

a:hover { text-decoration: none; color: darkblue;}

a:active { text-decoration: none;  color: black;}



#popupNotif {
  position: fixed;
  top: 120px;
  right: 20px;
  z-index: 1234; /* should take prio over gray div due to use in new graph tab */

  height: 50px;
  font-size: 20px;
  background-color: #ddddddaa;
  border-radius: 5px;

  /* Does this work? Yes. */
  /* Do I know how? No. */
  /* But all three of these need to present, apparently. */
  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;
}

#popupNotif p {
  margin-left: 10px;
}

#popupNotifClose {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s;
}

#popupNotifClose:hover {
  background-color: #dd0000;
  transition: background-color 0.3s;
}

#popupNotifClose:active {
  background-color: #bb0000;
  transition: background-color 0.3s;
}

.graphTabs {
  border: 1px solid black;
  border-radius: 5px; 
  font-size: 20px;
  margin: 5px;
  padding: 2px;
  height: 30px;

  display: flex;
  align-items: center;
}

.graphTabsInactive {
  background-color: white;
}

.graphTabsActive {
  background-color: #ddd;
}

.graphTabsDelButton {
  color: black;
  font-size: 15px;
  margin-right: 5px;
}

input[type=radio] {
  height: 20px;
  width: 20px;
}